.io, .code {
    display: flex;
    flex-direction: column;
}

.io div {
    flex: 1;
}

.col-md-1 {
    padding: 0px;
}
.col-md-2 {
    padding: 0px;
}
.col-md-3 {
    padding: 0px;
}
.col-md-4 {
    padding: 0px;
}
.col-md-5 {
    padding: 0px;
}
.col-md-6 {
    padding: 0px;
}
.col-md-7 {
    padding: 0px;
}
.col-md-8 {
    padding: 0px;
}
.col-md-9 {
    padding: 0px;
}
.col-md-10 {
    padding: 0px;
}
.col-md-11 {
    padding: 0px;
}
.col-md-12 {
    padding: 0px;
}