.navigation-bar {
    background-color: #ACE2E1;
    color: #008DDA;
}

.home {
    display: flex;
    flex-direction: column;
    padding: 0;

    height: 100vh;
}

.main {
    height: 100%;
}

.footer-container {
    margin-top: auto;
}