.navigation-bar {
    background-color: #ACE2E1;
    color: #008DDA;
}

.card-body {
    margin-top: 10px solid transparent;
    border-radius: 0;
    background-color: #F7EEDD;
}

.card-body:hover {
    cursor: pointer;
    background-color: #C6D8D5;
}

.room-viewer {
    overflow-y: auto;
    max-height: calc(100vh - nav height);
}

.classroom-container {
    display: flex;
    width: 100vw;
    flex-wrap: wrap;
}

.student-card {
    flex: 0 0 25%;
    margin: 20px;
}