@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    color: #fff;
}

body {
    max-width: 100vw !important;
    background-color: #41C9E2;
}

.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 1rem 0.5rem;
    color: white;
}

/* Shade classes */
.shade1 {
    background-color: #606c38;
}

.shade2 {
    background-color: #283618;
}

.shade3 {
    background-color: #fefae0;
}

.shade4 {
    background-color: #dda15e;
}

.shade5 {
    background-color: #bc6c25;
}

/* Text shade classes */
.textshade1 {
    color: #606c38;
}

.textshade2 {
    color: #283618;
}

.textshade3 {
    color: #fefae0;
}

.textshade4 {
    color: #dda15e;
}

.textshade5 {
    color: #bc6c25;
}

.textshadeblack {
    color: black;
}