.io {
    background-color: white;
    height: 100%;
}

.run-button-parent {
    padding-left: 5px;
    padding-right: 7px;
}

.compiling {
    float: right
}

.run-button {
    color: black;
    text-decoration: none;
    float: right;
}

.run-button:hover {
    cursor: pointer;
    color: #abff2e;
}

[contenteditable] {
    outline: none;
    /* This removes the default outline */
}
.input-parent{
    padding: 5px;
    min-height: 0;
}
.input {
    height: 100%;
    overflow: auto;
}

.output-parent{
    padding: 5px;
    background-color: rgb(250, 238, 228);
    min-height: 0;
}
.output {
    height: 100%;
    overflow: auto;
}